<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% comment %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% endcomment %}
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <title>Mini Tweetr | Login</title>
  </head>
  <body class="lg:flex justify-center items-center min-h-screen">
    <div class="border border-black rounded-3xl lg:h-80">
      <div class="text-center mt-7">
        <span class="font-bold text-2xl">Login</span>
      </div>
      <div class="px-5 pt-8">
        <div>
          <input type="text" class="border border-black" placeholder="Email" />
        </div>
        <div class="pt-5">
          <input
            type="text"
            placeholder="Password"
            class="border border-black"
          />
        </div>
      </div>
      <div class="pt-16 flex justify-center px-5">
        <button class="bg-yellow-400 rounded-full grow" type="submit">
          <span class="px-5 py-4 font-bold text-sm">Login</span>
        </button>
      </div>
    </div>
  </body>
</html>
