{% extends 'layout.html' %} {% block content %}
<div class="lg:flex lg:flex-col">
  {% comment %} Title Bar {% endcomment %}
  <div class="lg:flex mx-6 mt-3">
    <div class="lg:flex items-center">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div class="pl-10 flex flex-col pb-2">
      <span class="font-bold text-lg">Abdulqudduus</span>
      <span class="text-slate-500 text-xs -mt-1">397 Tweets</span>
    </div>
  </div>
  {% comment %} Header photo {% endcomment %}
  <div class="h-56 w-full bg-slate-100"></div>
  {% comment %} Profile photo {% endcomment %}
  <div class="mx-6 flex justify-between">
    <div class="h-32 w-32 rounded-full bg-red-600 -mt-16"></div>
    <div class="mt-3">
      <button
        class="hover:bg-gray-500 hover:bg-opacity-20 border w-28 text-sm font-bold h-9 border-gray-600 rounded-full"
      >
        Edit profile
      </button>
    </div>
  </div>
  <div class="mx-6 mt-6">
    <div class="flex flex-col">
      <div class="flex flex-col">
        {% comment %} Name {% endcomment %}
        <span class="font-bold text-xl">Abdulqudduus</span>
        {% comment %} Username {% endcomment %}
        <span class="text-slate-500 text-sm">@babalolajnr</span>
      </div>
      <div class="mt-3">
        {% comment %} Bio (Max 160 chars) {% endcomment %}
        <span class=""
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Praesent
          semper feugiat nibh sed pul</span
        >
      </div>
      {% comment %} Other info {% endcomment %}
      <div class="mt-3 flex text-slate-500 mr-20 justify-between text-sm">
        <div>
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-1">Nigeria</span>
        </div>
        <div>
          <i class="fa-solid fa-link"></i>
          <span class="text-yellow-400 ml-1">babalolajnr.netlify.app</span>
        </div>
        <div>
          <i class="fa-solid fa-cake-candles"></i>
          <span class="ml-1">Born May 21, 1999</span>
        </div>
        <div>
          <i class="fa-solid fa-calendar-days"></i>
          <span class="ml-1">Joined July 2016</span>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %} {% block 'page-specific-scripts' %}
<script></script>
{% endblock %}
