{% extends 'layout.html' %} {% block content %}

<div class="lg:flex lg:h-screen lg:flex-row">
  {% comment %} First column {% endcomment %}
  <div class="lg:basis-1/4 lg:border-r border-gray-600">
    <div class="mt-5 mx-7">
      <span class="text-2xl font-bold">Mini Tweetr</span>
    </div>
  </div>

  {% comment %} Second column {% endcomment %}
  <div class="lg:basis-2/4">
    <div class="mt-4 px-10">
      {% comment %} Title row {% endcomment %}
      <div class="lg:flex justify-between">
        <div><span class="font-extrabold text-xl">Home</span></div>
        <div><i class="fa-solid fa-bahai"></i></div>
      </div>

      {% comment %} New tweet {% endcomment %}
      <div class="pt-5 w-full">
        <div class="lg:flex w-full">
          <div class="bg-slate-100 w-10 h-10 rounded-full"></div>
          <div class="pl-5 w-full">
            <textarea
              name=""
              id=""
              class="w-full bg-transparent focus:outline-none"
              placeholder="What's happening?"
            ></textarea>
            <div class="pb-3 border-b border-gray-600 lg:flex">
              <div
                class="rounded-full px-4 hover:bg-yellow-400 hover:bg-opacity-20 text-center"
              >
                <span
                  class="font-bold text-yellow-400"
                  style="font-size: 0.8rem"
                  ><i class="fa-solid fa-earth-africa"></i> Everyone can reply
                </span>
              </div>
            </div>
            <div class="lg:flex justify-between pt-3">
              <div class="flex justify-between">
                <div>
                  <i class="fa-regular fa-image"></i>
                </div>
                <div class="pl-3">
                  <i class="fa-regular fa-location-dot"></i>
                </div>
                <div>
                  <i class="fa-regular fa-calendar-lines-pen"></i>
                </div>
                <div class="pl-3">
                  <i class="fa-regular fa-face-grin"></i>
                </div>
                <div>
                  <i class="fa-regular fa-square-poll-horizontal"></i>
                </div>
                <div class="pl-3">
                  <i class="fa-regular fa-gif"></i>
                </div>
              </div>
              <div>
                <button class="bg-yellow-400 rounded-full">
                  <span class="px-5 py-4 font-bold text-sm">Tweet</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %} Posts {% endcomment %}
    <div class="border-t border-gray-600 mt-6">
      <div class="flex pt-5 px-10">
        <div class="bg-white w-10 h-10 rounded-full"></div>
        <div class="pl-5">
          {% comment %} username {% endcomment %}
          <div class="">
            <div>
              <span class="font-bold text-sm">Abdulqudduus</span>
              <span class="font-light text-sm text-slate-500"
                >@babalolajnr</span
              >
              <span class="font-light text-xl text-slate-500 align-middle">&middot</span>
              <span class="font-light text-sm text-slate-500">14m</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Second column {% endcomment %}
  <div
    class="lg:basis-1/4 lg:border-l border-gray-600 lg:flex justify-center"
  ></div>
</div>

{% endblock %} {% block 'page-specific-scripts' %}
<script>
  const tx = document.getElementsByTagName("textarea");
  for (let i = 0; i < tx.length; i++) {
    tx[i].setAttribute(
      "style",
      "height:" + tx[i].scrollHeight + "px;overflow-y:hidden;"
    );
    tx[i].addEventListener("input", OnInput, false);
  }

  function OnInput() {
    this.style.height = "auto";
    this.style.height = this.scrollHeight + "px";
  }
</script>
{% endblock %}
