<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% comment %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% endcomment %}
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <title>Mini Tweetr</title>
  </head>
  <body class="dark:bg-gray-800 dark:text-white">
    <div class="lg:flex">
      {% comment %} First column {% endcomment %}
      <div
        class="lg:basis-1/4 lg:border-r h-screen border-gray-600 lg:flex lg:flex-col overflow-y-hidden"
      >
        {% include 'components/navigation.html' %}
      </div>
      
      {% comment %} Second column {% endcomment %}
      <div class="lg:basis-1/2 pb-7">{% block content %}{% endblock %}</div>

      {% comment %} Third column {% endcomment %}
      <div
        class="lg:basis-1/4 lg:border-l border-gray-600 lg:flex justify-center"
      ></div>
    </div>
    {% block 'page-specific-scripts'%}{%endblock %}
  </body>
</html>
