<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css" />
  <title>Mini Tweetr</title>
</head>

<body class="dark:bg-gray-800 dark:text-white sans-pro">
  <div class="lg:flex">
    {% comment %} First column {% endcomment %}
    <div class="lg:basis-[23%] h-screen lg:flex lg:flex-col sticky top-0">
      {% include 'components/navigation.html' %}
    </div>

    {% comment %} Second column {% endcomment %}
    <div class="lg:basis-[45%] lg:border-l lg:border-r border-gray-600 pb-7">{% block content %}{% endblock %}</div>

    {% comment %} Third column {% endcomment %}
    <div class="lg:basis-[32%]">
      <div class="ml-6 mr-10">
        <div class="mt-3">
          <div
            class="flex group bg-gray-600 bg-opacity-50 items-center rounded-full py-2 focus-within:border focus-within:bg-opacity-0 focus-within:border-yellow-400">
            <i class="fa-solid fa-magnifying-glass ml-4 group-focus-within:text-yellow-400"></i>
            <input type="text" class="ml-3 bg-transparent focus:outline-none" placeholder="Search Mini Tweetr">
          </div>
        </div>
        <div class="mt-4">
          <div class="bg-gray-700 bg-opacity-30 rounded-2xl">
            <div class="pt-4">
              <h3 class="font-semibold text-xl px-4">Trends for you</h3>
              <div class="mt-2">
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
                <div class="hover:bg-gray-600 hover:bg-opacity-20 cursor-pointer">
                  <div class="px-4 py-3">
                    <div class="flex justify-between text-xs items-center text-slate-400">
                      <span>Trending in Nigeria</span>
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <span>Ukraine</span><br>
                    <span class="flex justify-between text-xs items-center text-slate-400">37.5K Tweets</span>
                  </div>
                </div>
              </div>
              <div class="hover:bg-gray-600 hover:bg-opacity-20 py-3 rounded-b-2xl cursor-pointer">
                <span class="text-yellow-400 px-4">Show more</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          Suggestions
        </div>
      </div>
    </div>
  </div>
  {% block 'page-specific-scripts'%}{%endblock %}
</body>

</html>