<div id="edit-profile-modal"
    class="fixed top-0 left-0 bg-gray-800 w-screen h-screen bg-opacity-50 transition justify-center items-center hidden overscroll-contain">
    <div class="h-[38rem] w-[40rem] dark:bg-gray-800 rounded-3xl overflow-auto" id="modal-content">
        <div class="pb-3 sticky top-0 pt-3 dark:bg-gray-800 bg-opacity-75 backdrop-blur-sm">
            <div class="mx-4 flex justify-between items-center">
                {% comment %} Close button {% endcomment %}
                <div class="text-lg flex" id="close">
                    <span
                        class="h-8 w-8 hover:bg-gray-700 hover:bg-opacity-80 flex justify-center items-center rounded-full">
                        <i class="fa-solid fa-xmark font-thin"></i>
                    </span>
                    <span class="pl-9 font-bold">Edit Profile</span>
                </div>
                {% comment %} Save button {% endcomment %}
                <div>
                    <button id="save"
                        class="hover:bg-opacity-90 border w-12 text-sm font-bold h-8 bg-slate-100 rounded-full text-slate-900">Save</button>
                </div>
            </div>
        </div>
        {% load static %}
        <div class="h-44 w-full bg-cover flex justify-center items-center"
            style="background-image: url({% static 'images/nature.jpg' %})">
            <div class="flex">
                <div
                    class="bg-opacity-50 bg-gray-700 hover:bg-opacity-80 flex w-12 h-12 justify-center items-center rounded-full">
                    <i class="fa-solid fa-camera"></i>
                </div>
                <div
                    class="ml-4 bg-opacity-50 bg-gray-700 hover:bg-opacity-80 flex w-12 h-12 justify-center items-center rounded-full">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
        </div>
        <div class="mx-4 pb-9">
            {% load static %}
            <div class="h-28 w-28 rounded-full -mt-14 bg-cover border-4 border-gray-800 flex justify-center items-center"
                style="background-image: url({% static 'images/cat.jpg' %})">
                <div
                    class="bg-opacity-50 bg-gray-700 hover:bg-opacity-80 flex w-12 h-12 justify-center items-center rounded-full">
                    <i class="fa-solid fa-camera"></i>
                </div>
            </div>
            <form action="{% url 'save_profile' %}" id="profile-form" method="post">
                {% csrf_token %}
                <div
                    class="group mt-5 w-full border border-gray-500 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                    <div class="mx-2 mb-2">
                        <div class="flex justify-between pt-1">
                            <label for="Name" class="text-sm text-gray-500 group-focus-within:text-yellow-400">First
                                name</label>
                            <span class="text-xs hidden text-yellow-400 group-focus-within:block transition">
                                <span id="first-name-input-count"></span>
                                /
                                <span id="first-name-input-max">25</span>
                            </span>
                        </div>
                        <input type="text" name="first_name" id="first-name-input" maxlength="25"
                            class="w-full bg-transparent focus:outline-none" value="{{request.user.first_name}}">
                        <span class="text-sm text-red-600">{{ errors.first_name }}</span>
                    </div>
                </div>
                <div
                    class="group mt-5 w-full border border-gray-500 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                    <div class="mx-2 mb-2">
                        <div class="flex justify-between pt-1">
                            <label for="Name" class="text-sm text-gray-500 group-focus-within:text-yellow-400">Last
                                name</label>
                            <span class="text-xs hidden text-yellow-400 group-focus-within:block transition">
                                <span id="last-name-input-count"></span>
                                /
                                <span id="last-name-input-max">25</span>
                            </span>
                        </div>
                        <input type="text" name="last_name" id="last-name-input" maxlength="25"
                            class="w-full bg-transparent focus:outline-none" value="{{request.user.last_name}}">
                        <span class="text-sm text-red-600">{{ errors.last_name }}</span>

                    </div>
                </div>
                <div
                    class="group mt-5 w-full border border-gray-500 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                    <div class="mx-2 mb-2">
                        <div class="flex justify-between pt-1">

                            <label for="Name"
                                class="text-sm text-gray-500 group-focus-within:text-yellow-400">Bio</label>
                            <span class="text-xs hidden text-yellow-400 group-focus-within:block transition">
                                <span id="bio-input-count"></span>
                                /
                                <span id="bio-input-max">160</span>
                            </span>
                        </div>
                        <textarea type="text" name="bio" id="bio-input" maxlength="160"
                            class="w-full bg-transparent focus:outline-none resize-none">{{profile.bio}}</textarea>
                        <span class="text-sm text-red-600">{{ errors.bio }}</span>
                    </div>
                </div>
                <div
                    class="group mt-5 w-full border border-gray-500 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                    <div class="mx-2 mb-2">
                        <div class="flex justify-between pt-1">

                            <label for="Name"
                                class="text-sm text-gray-500 group-focus-within:text-yellow-400">Location</label>
                            <span class="text-xs hidden text-yellow-400 group-focus-within:block transition">
                                <span id="location-input-count"></span>
                                /
                                <span id="location-input-max">30</span>
                            </span>
                        </div>
                        <input type="text" name="location" id="location-input" maxlength="30"
                            value="{{profile.location}}" class="w-full bg-transparent focus:outline-none">
                        <span class="text-sm text-red-600">{{ errors.location }}</span>
                    </div>
                </div>
                <div
                    class="group mt-5 w-full border border-gray-500 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                    <div class="mx-2 mb-2">
                        <div class="flex justify-between pt-1">
                            <label for="Name"
                                class="text-sm text-gray-500 group-focus-within:text-yellow-400">Website</label>
                            <span class="text-xs hidden text-yellow-400 group-focus-within:block transition">
                                <span id="website-input-count"></span>
                                /
                                <span id="website-input-max">100</span>
                            </span>
                        </div>
                        <input type="text" name="website" id="website-input" maxlength="100" value="{{profile.website}}"
                            class="w-full bg-transparent focus:outline-none">
                        <span class="text-sm text-red-600">{{ errors.website }}</span>
                    </div>
                </div>
            </form>
            <div class="mt-5">
                <div class="text-sm text-gray-500">
                    <span>
                        Birth date
                    </span>
                    <span>
                        &middot
                    </span>
                    <span class="text-yellow-400">
                        Edit
                    </span>
                </div>
                <div class="text-xl">
                    May 21, 1999
                </div>
            </div>
        </div>
    </div>
</div>