<div class="fixed top-0 left-0 bg-slate-600 w-screen h-screen bg-opacity-30 flex justify-center items-center">
    <div class="h-[38rem] w-[40rem] bg-slate-900 rounded-3xl">
        <div class="flex justify-between mx-4 mt-3 pb-3 items-center">
            <div class="text-lg">
                <i class="fa-solid fa-xmark font-thin"></i>
                <span class="pl-9 font-bold">Edit Profile</span>
            </div>
            <div>
                <button
                    class="hover:bg-opacity-90 border w-20 text-sm font-bold h-8 bg-slate-100 rounded-full text-slate-900">Save</button>
            </div>
        </div>
        {% load static %}
        <div class="h-44 w-full bg-cover" style="background-image: url({% static 'images/nature.jpg' %})">
        </div>
        <div class="mx-4">
            {% load static %}
            <div class="h-28 w-28 rounded-full -mt-14 bg-cover border-4 border-gray-800"
                style="background-image: url({% static 'images/cat.jpg' %})">
            </div>
            <div class="group mt-5 w-full border border-slate-700 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                <div class="mx-2 mb-2">
                    <label for="Name" class="text-sm text-slate-700 group-focus-within:text-yellow-400">Name</label><br>
                    <input type="text" name="" id="" class="w-full bg-transparent focus:outline-none">
                </div>
            </div>
            <div class="group mt-5 w-full border border-slate-700 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                <div class="mx-2 mb-2">
                    <label for="Name" class="text-sm text-slate-700 group-focus-within:text-yellow-400">Location</label><br>
                    <input type="text" name="" id="" class="w-full bg-transparent focus:outline-none">
                </div>
            </div>
            <div class="group mt-5 w-full border border-slate-700 rounded-md focus-within:border-2 transition focus-within:border-yellow-400">
                <div class="mx-2 mb-2">
                    <label for="Name" class="text-sm text-slate-700 group-focus-within:text-yellow-400">Website</label><br>
                    <input type="text" name="" id="" class="w-full bg-transparent focus:outline-none">
                </div>
            </div>
        </div>
    </div>
</div>